<div class="container text-center">
<h1 class="my-4">Welcome to Cocktail Database</h1>


<div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="col-6 col-sm-3 mb-5" style="height: 200px;">
    <div class="card bg-dark text-white bg-secondary h-100">
      <img class="card-img" src="..." alt="Card image">
      <div class="card-img-overlay ">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-white" %></h5>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-outline-primary"  %>
</div>
